nav{
    display: flex;
    justify-content: center;

    height: 4rem;

    background-color: rgb(49, 49, 49);
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul a{
    width: 10rem;
    float: left;

    color: rgb(199, 199, 199);
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 15px
}

nav ul a:hover{
    border-radius: 0.3rem;
    color: white;
}

header h2{
    display: flex;
    justify-content: center;

    font-weight: 100;
    margin-top: 4rem;
}