*{
    margin: 0;
    padding: 0;
}

body{
    font: 15px "Ubuntu", Arial, sans-seriff;
    background-color: #fff;
}

#global{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 50%;
    display: flex;
    justify-content: center;
}

#container img {
    width: 25rem;
    height: 25rem;
    border-radius: 0.3rem;
}

#key1{
    display: flex;
    margin-left: 10px;

}

#image{
    margin-top: 4.3rem;
    height: 133px;
    width: 800px;
}

#text p{
    margin-left: 4rem;
    font-size: 0.8rem;
    line-height: 1.5;
}

#text h2, h3{
    margin-left: 4rem;
}

