*{
    margin: 0;
    padding: 0;
}

body{
    font: 15px "Ubuntu", Arial, sans-seriff;
    background-color: #fff;
}

#global{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image{
    width: 50rem;
    padding: 5rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#container img {
    width: 15rem;
    height: 15rem;
    border-radius: 0.3rem;
}


#key1, #key2{
    display: flex;
    margin-left: 10px;
    margin-bottom: 4rem;

    padding: 0 4.5rem;
    border: 2px solid rgb(207, 202, 202);
    border-radius: 5px;
}

#text p{
    margin-left: 4rem;
    font-size: 0.8rem;
    line-height: 1.5;
}

#text h2, h3{
    margin-top: 2rem;
    margin-left: 4rem;
}

